In [1]:
import pandas as pd
import numpy as np

In [2]:
import baumkuchen
baumkuchen.version()

1.0.12

In [3]:
df = pd.DataFrame([
    [np.nan,1,1,1,1,1,'D','D','D','A'],
    [np.nan,3,3,3,3,3,'E','D','E','B'],
    [np.nan,np.nan,3,3,3,3,'E','D','E','B'],
    [np.nan,2,3,3,3,3,'E','A','E','B'],
    [np.nan,3,3,3,3,3,'E','E','E','B'],
    [np.nan,3,3,np.nan,3,3,'E','C','E','B'],
    [np.nan,3,np.nan,3,3,3,'E','H','E','B'],
    [np.nan,5,np.nan,5,5,5,'E','E','E','B'],
    [np.nan,4,4,4,4,4,np.nan,'E','E','B'],
    [np.nan,7,7,7,7,7,'E','E','E',np.nan],
    ])
df.columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df

    a    b    c    d  e  f    g  h  i    j
0 NaN  1.0  1.0  1.0  1  1    D  D  D    A
1 NaN  3.0  3.0  3.0  3  3    E  D  E    B
2 NaN  NaN  3.0  3.0  3  3    E  D  E    B
3 NaN  2.0  3.0  3.0  3  3    E  A  E    B
4 NaN  3.0  3.0  3.0  3  3    E  E  E    B
5 NaN  3.0  3.0  NaN  3  3    E  C  E    B
6 NaN  3.0  NaN  3.0  3  3    E  H  E    B
7 NaN  5.0  NaN  5.0  5  5    E  E  E    B
8 NaN  4.0  4.0  4.0  4  4  NaN  E  E    B
9 NaN  7.0  7.0  7.0  7  7    E  E  E  NaN

In [4]:
# 100% nan のカラムを@で埋める
print(baumkuchen.empty(df))

   a    b    c    d  e  f    g  h  i    j
0  @  1.0  1.0  1.0  1  1    D  D  D    A
1  @  3.0  3.0  3.0  3  3    E  D  E    B
2  @  NaN  3.0  3.0  3  3    E  D  E    B
3  @  2.0  3.0  3.0  3  3    E  A  E    B
4  @  3.0  3.0  3.0  3  3    E  E  E    B
5  @  3.0  3.0  NaN  3  3    E  C  E    B
6  @  3.0  NaN  3.0  3  3    E  H  E    B
7  @  5.0  NaN  5.0  5  5    E  E  E    B
8  @  4.0  4.0  4.0  4  4  NaN  E  E    B
9  @  7.0  7.0  7.0  7  7    E  E  E  NaN

In [5]:
# カテゴリ型のカラムを上位thresholdカテゴリのみ残して @MINORITY で埋め、nanは @FILLED で埋める
print(baumkuchen.categorical(df, 'd'))

    a    b    c    d  e  f         g           h  i         j
0 NaN  1.0  1.0  1.0  1  1         D           D  D         A
1 NaN  3.0  3.0  3.0  3  3         E           D  E         B
2 NaN  NaN  3.0  3.0  3  3         E           D  E         B
3 NaN  2.0  3.0  3.0  3  3         E           A  E         B
4 NaN  3.0  3.0  3.0  3  3         E           E  E         B
5 NaN  3.0  3.0  NaN  3  3         E  @.MINORITY  E         B
6 NaN  3.0  NaN  3.0  3  3         E  @.MINORITY  E         B
7 NaN  5.0  NaN  5.0  5  5         E           E  E         B
8 NaN  4.0  4.0  4.0  4  4  @.FILLED           E  E         B
9 NaN  7.0  7.0  7.0  7  7         E           E  E  @.FILLED

In [6]:
# 数値型のカラムを平均値で埋め、埋めた場所がわかるように新たなカラムを追加する
print(baumkuchen.numerical(df))

     g  h  i    j   a    a@         b     b@      c     c@         d     d@  \
0    D  D  D    A NaN  True  1.000000  False  1.000  False  1.000000  False
1    E  D  E    B NaN  True  3.000000  False  3.000  False  3.000000  False
2    E  D  E    B NaN  True  3.444444   True  3.000  False  3.000000  False
3    E  A  E    B NaN  True  2.000000  False  3.000  False  3.000000  False
4    E  E  E    B NaN  True  3.000000  False  3.000  False  3.000000  False
5    E  C  E    B NaN  True  3.000000  False  3.000  False  3.555556   True
6    E  H  E    B NaN  True  3.000000  False  3.375   True  3.000000  False
7    E  E  E    B NaN  True  5.000000  False  3.375   True  5.000000  False
8  NaN  E  E    B NaN  True  4.000000  False  4.000  False  4.000000  False
9    E  E  E  NaN NaN  True  7.000000  False  7.000  False  7.000000  False

   e     e@  f     f@
0  1  False  1  False
1  3  False  3  False
2  3  False  3  False
3  3  False  3  False
4  3  False  3  False
5  3  False  3  False
6  3  False  3  False
7  5  False  5  False
8  4  False  4  False
9  7  False  7  False